<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{{site.baseurl}}/assets/css/card.css">
  </head>
  <body style="background-color: plum;">
    {% include header.html %}
    {% include nav.html %}

    <div class="w3-container w3-padding-64 w3-xlarge" id="about">
      <div class="w3-content">
        <h1 class="w3-center w3-jumbo"><b>{{ page.title }}</b></h1>
        <center><button class="w3-button w3-purple w3-round-xlarge">based on Skills</button></center>
      </div>
  </div>

 
      <div class="grid-container">
      {% for item in site.data.all_data %}
      {% assign field =  "Skills" %}
          {% if item[field] == page.title %} 
          <div class="card">
            <a href="{{site.baseurl}}/{{item.Platforms}}/{{item.Names | split:" " | join: "_" | append: ".html"}}" target="_blank">
            <img src="{{item.Big_Imgs}}" style="width:100%"> </a>
            <div class="container"> 
              <a href="{{site.baseurl}}{{item.Urls}}" target="_blank"><h4><b>{{ item.Names }}</b></h4></a>
              <div style="text-align: right;">
                <div style="display: inline-block"><button class="w3-button w3-pink w3-round-xlarge" style="margin-bottom: 10px;"><a href="{{site.baseurl}}/explore/levels/{{ item.Levels | append: ".html" | downcase}}">{{ item.Levels }}</a></button></div> <br/>
                <div style="display: inline-block"><button class="w3-button w3-deep-orange w3-round-xlarge"  style="margin-bottom: 10px;"><a href="{{site.baseurl}}/explore/themes/{{ item.Themes | split:" " | join: "_" | append: ".html" | downcase}}">{{ item.Themes }}</a></button></div><br/>
                <div style="display: inline-block"><button class="w3-button w3-purple w3-round-xlarge" style="margin-bottom: 10px;"><a href="{{site.baseurl}}/explore/skills/{{ item.Skills| split:" " | join: "_" | append: ".html" | downcase}}">{{ item.Skills }}</a></button></div>
            </div>
            </div>
          </div> 
        {% endif %}
      {% endfor %}
        
      </div>

    {% include footer.html %}
  </body>
</html>